 <!--=============== SIDEBAR ===============-->
 <div class="sidebar" id="sidebar">
     <nav class="sidebar__container o-six">
        <%- include('_front_view') %>
        <%- include('_color_view') %>
        <%- include('_temple_view') %>
        <%- include('_engraving_view') %>
        <%- include('_lense_view') %>
     </nav>
     <button id="toggleButton"><i class="fa-solid fa-angle-left"></i></button>
 </div>